@use "base/generales";
@use "base/reset";
@use "components/navbar-logo";
@use "layout/aside-index";
@use "layout/aside-quienes-somos";
@use "layout/aside-seguros";
@use "layout/footer";
@use "layout/header";
@use "layout/main-contacto";
@use "layout/main-index";
@use "layout/main-quienes-somos";
@use "layout/main-seguros";
@use "layout/media-480";
@use "layout/media-768";
@use "utilities/color-navbar";
@use "utilities/variables";




