@use "../utilities/mixin" as m;
.productores{
    @include m.box-direction(flex, space-around);
    margin: 1.875rem;
    flex-wrap: wrap;
}

.title-prod{
    text-align: center;
}

.santiago-productor{
    @include m.card-productores;
}

.sebastian-productor{
    @include m.card-productores;
}

.emmanuel-productor{
    @include m.card-productores;
}


.lorena-productor{
    @include m.card-productores;
}