@use "../utilities/mixin" as m;
.title-somos{
    @include m.box-direction(grid, center);
    margin: 1.25rem;
}

.nuestra-historia {
    display: grid;
    grid-template-columns: 1fr;
}

.card-historia {
    @include m.box-align(grid, center);
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "titulo titulo"
        "imagen parrafo";
    gap: 1.875rem;
    p{
        grid-area: parrafo;
    }
    h2{
        @include m.box-center(grid, center, center);
        grid-area: titulo;
        font-size: 2.1875rem; 
        font-weight: bold;
        margin: 1.25rem 0;
    }
    img {
        grid-area: imagen;
        width: 100%;
        height: auto;
        border-radius: .625rem;
    }
}
