@use "../utilities/mixin" as m;
.derechos{
    @include m.box-center(flex, center, center);
    height: 3.75rem;
    width: 100%;  
    background-color: white; 
    p{
        margin: 0;
        text-align: center;
    }
}
