@use "../utilities/variable" as v;
@use "../utilities/mixin" as m;

.navbar-nav {
    .nav-link {
        transition: all 0.3s ease;
        &:hover {
            color: v.$white;
            text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.5);
        }
    }
}

.navegador {
    @include m.box-direction(flex, space-between);
    background-color: v.$orange;
    padding: 0.5rem 1rem;
    ul {
        @include m.box-center(flex, flex-end, center);
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 0.5rem;
        li a {
            text-decoration: none;
            color: black;
            font-size: 1.25rem;
            padding: 0.5rem 1rem;
            border-radius: 0.3125rem;
            transition: all 0.3s ease;
            display: inline-block;
            &:hover { 
                background-color: brown;
                color: white;
                box-shadow: 0.0625rem 0.0625rem 0.3125rem black;
                transform: translateY(-0.125rem);
            }
        }
    }
}

.banner{
    margin-bottom: .625rem;
    img{
        width: 100%;
        height: 31.25rem;
    }
}