.autogestion{
    display: flex;
    margin: 1.875rem;
    gap: 1.25rem;
    div img{
        width: 100%;
        height: auto;
    }
    div h2{
        text-align: center;
    }
    div p{
        text-align: center;
    }
}
