.autogestion{
    display: flex;
    margin: 3.125rem;
    div img{
        width: 100%;
        height: auto;
    }
    div h2{
        text-align: center;
    }
    div p{
        text-align: center;
    }
}
