@use "../utilities/mixin" as m;

.acceso-rapido {
    margin: 1.875rem;
}

.cards {
    @include m.box-center(flex, space-around, center);
    margin: 1.875rem;
}

.article-index {
    width: 30vw;
    h3 {
        text-align: center;
        margin-bottom: 1rem;
    }

    p {
        text-align: center;
        margin: 0.5rem 0;
    }
    img{
        max-width: 30vw;
    }
}