@use "../utilities/mixin" as m;
.acceso-rapido{
    margin: 1.875rem;
}

.cards{
    @include m.box-center(flex, space-around, center);
    margin: 1.875rem;
    article img{
        width: 25rem;
        height: 25rem;
        align-items: center;
    }
}
