@use "../utilities/mixin" as m;

.acceso-rapido {
    margin: 1.875rem;
}

.cards {
    @include m.box-center(flex, space-around, center);
    margin: 1.875rem;
}

.seguro-vida {
    padding: 1.5rem;

    h3 {
        text-align: center;
        margin-bottom: 1rem;
    }

    p {
        text-align: center;
        margin: 0.5rem 0;
    }
}