@media (max-width: 768px) {

    .navegador {
        display: block;
        margin: 0 auto;
        text-align: center;
        ul {
            display: block;
        }
    }
    .logo {
        margin: 0 auto;
    }
    .banner {
        img {
            width: 100%;
            height: auto;
        }
    }
    .acceso-rapido {
        text-align: center;
    }
    .cards {
        display: block;
        margin: 0 auto;
        text-align: center;
        article {
            img {
                width: 100%;
                height: auto;
            }
            h3 {
                text-align: center;
                padding: 0.3125rem;
            }
            p {
                text-align: center;
                margin-bottom: 1.25rem;
                padding: 0.125rem;
            }
        }
    }
    .noticia-h2 {
        text-align: center;
    }
    .noticias {
        display: block;
        margin: 0 auto;
        div {
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    .container-footer {
        display: block;
        margin: 0 auto;
        padding: 0.125rem 0 0.1875rem 0;
    }
    .derechos {
        display: block;
        margin: 0 auto;
        text-align: center;
        padding-top: 1.25rem;
    }
    .autogestion {
        flex-wrap: wrap;
        margin: 0.3125rem;
        div {
            img {
                width: 100%;
                height: auto;
            }
            h2,
            p {
                text-align: center;
                margin: 0.3125rem;
            }
        }
    }
    .productores {
        flex-wrap: wrap;
        margin: 0.625rem;
        padding: 0.3125rem;
    }
    .title-contactanos {
        text-align: center;
        h1 {
            margin: 3.125rem;
        }
    }
    .title-prod {
        text-align: center;
        margin: 1.25rem;
    }
    .consulta {
        flex-wrap: wrap;
    }
    .title-somos {
        display: block;
        text-align: center;
        margin: 2.5rem;
    }
    .cards-somos {
        display: block;
        margin: 0 auto;
        padding: 0.625rem;
        img {
            width: 100%;
            height: auto;
        }
    }
    .vision,
    .mision,
    .redito {
        h2,
        p {
            text-align: center;
            margin: 0.3125rem;
        }
    }
    .card-historia {
        display: block;
        margin: 0 auto;
        h2 {
            text-align: center;
            margin: 2.5rem;
        }
        p {
            text-align: center;
            padding: 0.9375rem;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
}
